# ---------------------------
# PYTHON
# ---------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

# Virtual environments
.venv/
venv/
env/
ENV/

# Jupyter
.ipynb_checkpoints/

# ---------------------------
# DATASETS (DO NOT COMMIT!)
# ---------------------------
# HighD or other trajectory datasets
# Ignore all datasets
hdv/data/highd/



# If datasets inside hdv folder:
hdv/data/
hdv/data/*

# ---------------------------
# MODEL OUTPUTS
# ---------------------------
logs/
outputs/
runs/

# ---------------------------
# EDITOR / OS ARTIFACTS
# ---------------------------
.DS_Store
Thumbs.db

# VS Code
.vscode/
*.code-workspace

# Windows OneDrive conflict files
*.tmp
*.lnk

# ---------------------------
# MISC
# ---------------------------
*.zip
*.tar
*.tar.gz
